/** @format */

:root {
	--fontfamily: 'Mulish', sans-serif;
	// Pizza
	--logo: 'Dancing Script', cursive;

	// COlORS
	--light: #74deff;
	--primary: #393b3e;
	--dark: #107bb0;
	--text: #333;
	--background: #eff8fa;
	--hint: #999;
	--border: #ddd;
	--ln: #0a66c2;
}
