/** @format */

:root {
	--fontfamily: 'Mulish', sans-serif;

	// COlORS
	--light: #74deff;
	--primary: #393b3e;
	--dark: #107bb0;
	--text: #333;
	--background: #fafafa;
	--hint: #999;
	--border: #ddd;
	--ln: #0a66c2;
}
